$FontHeader: 'Bad Script', cursive;
$FontText: 'BenchNine', sans-serif;

$black: #000;
$white: #fff;
$LightGrey: darkgrey;

@mixin mellemrubrik {
  font-family: 'BenchNine', sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 400;
}

@mixin brodtekst {
  font-family: 'BenchNine', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 100;
}

@mixin buttonMe {
  padding: 10px 0;
  background-color: darken($LightGrey, 25%);
  display: inline-block;
  color: $white;
  font-family: $FontText;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    background-color: $LightGrey;
  }
}

@mixin buttonContact {
  padding: 10px 15px;
  background-color: darken($LightGrey, 25%);
  color: $white;
  font-family: $FontText;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $LightGrey;
  }
}

@mixin some {
  font-size: 18px;
  text-align: right;
  margin-top: 80px;
  margin-bottom: 40px;
  letter-spacing: 3px;

  a {
    color: $black;
  }
}