@import "colorsandfonts";

$tablet: "screen and (min-width: 768px)";
$computer: "screen and (min-width: 1200px)";

body {
  background: url("../images/dot-grid.png") repeat;
}

.container {
  margin: 2em 1em;
  background-color: $white;
  opacity: 0.8;
  padding: 1rem;
  text-align: center;

  h1 {
    font-family: $FontHeader;
  }

  p {
    @include brodtekst;
  }

  .contactButton {
    margin: 40px 0 50px 0;
    text-align: center;

    .button {
      @include buttonContact;
    }
  }

  img {
    width: 100%;
  }
}


@media #{$tablet} {

  body {
  margin: 85px 80px;
  }

  .container {
    img {
      width: 70%;
    }
  }
}

@media #{$computer} {
  body {
    margin: 85px 140px;
  }

  .container {
    h1 {
      margin: 0;
      font-size: 3vw;
    }

    p {
      font-size: 1.6vw;
    }

    img {
      margin: -30px 0;
    }
  }
}