body {
  background: url("../images/dot-grid.png") repeat; }

.container {
  margin: 2em 1em;
  background-color: #fff;
  opacity: 0.8;
  padding: 1rem;
  text-align: center; }
  .container h1 {
    font-family: "Bad Script", cursive; }
  .container p {
    font-family: 'BenchNine', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 100; }
  .container .contactButton {
    margin: 40px 0 50px 0;
    text-align: center; }
    .container .contactButton .button {
      padding: 10px 15px;
      background-color: dimgray;
      color: #fff;
      font-family: "BenchNine", sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      transition-duration: 0.4s;
      cursor: pointer; }
      .container .contactButton .button:hover {
        background-color: darkgrey; }
  .container img {
    width: 100%; }

@media screen and (min-width: 768px) {
  body {
    margin: 85px 80px; }
  .container img {
    width: 70%; } }

@media screen and (min-width: 1200px) {
  body {
    margin: 85px 140px; }
  .container h1 {
    margin: 0;
    font-size: 3vw; }
  .container p {
    font-size: 1.6vw; }
  .container img {
    margin: -30px 0; } }
